html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#app {
  height: 100%;
}
.header {
  height: 48px;
  display: flex;
}
h1 {
  font-size: 2rem;
}
.header__title {
  margin: auto;
}
.main {
  padding: 1rem 0;
}

#app_map {
  width: 100%;
  height: 450px;
  position: relative;
}
.control {
  padding: 2rem 0 1rem;
}
.switcher {
  margin: 1rem 0;
  width: 200px;
}
input[type="text"] {
  width: 200px;
}
button {
  margin-left: 1rem;
}
select {
  width: 100%;
}